 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/eff0cf16b3aa03963f9ec4fa3fc842c7f1cba632f8a8632abb77a93b50337fd8d116aaee5f855760483d1635bfc13adf1d8a87f26060e2ef73a6a6_1280.jpg");
  background-position: 50% 50%;
  min-height: 777px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 311px auto 0 calc(((100% - 1140px) / 2) + 366px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transform: scale(1.1) translateX(0px) translateY(0px);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 31px auto 60px calc(((100% - 1140px) / 2) + 483px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 641px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 302px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 283px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 491px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 231px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 63px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 368px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 173px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 232px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 340px) / 2) + 109px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
}